body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
}

#main-content {
  width: 500px;
  background-color: white;
  margin: 100px auto;
  overflow: auto;
}

.social-media {
  float: left;
  padding: 20px;
  margin-left: 40px;
  margin-top: 130px;
}

button {
  float: right;
  margin-top: 150px;
  margin-right: 40px;
  padding: 12px;
  font-size: 12px;
}